<h1>Your Score</h1>

<table>
  <tr>
    <td>Your word:</td>
    <td><%= @option %></td>
  </tr>
  <tr>
    <td>Your score:</td>
    <td><%= @score %></td>
  </tr>
  <tr>
    <td>Message:</td>
    <td><%= @message %></td>
  </tr>
</table>

<h2>Your total score is: <%= @total_score %></h2>

<%= link_to "Play again", root_path %>
